$aa-blue-m3-tone: (
  0: #000000,
  4: #00101b,
  6: #001523,
  10: #001e2f,
  12: #002235,
  17: #002d44,
  20: #00344e,
  22: #003854,
  24: #003d5a,
  30: #004c6e,
  40: #006491,
  50: #007fb6,
  60: #3699d2,
  70: #57b4ee,
  80: #8aceff,
  87: #b7dfff,
  90: #c9e6ff,
  92: #d4ebff,
  94: #e0f0ff,
  95: #e5f2ff,
  96: #ebf5ff,
  98: #f6faff,
  99: #fcfcff,
  100: #ffffff
);

$aa-gray-m3-tone: (
  0: #000000,
  4: #00101b,
  6: #041520,
  10: #0c1d29,
  12: #10212d,
  17: #1b2c38,
  20: #22323f,
  22: #263743,
  24: #2a3b48,
  30: #384956,
  40: #50606e,
  50: #687988,
  60: #8193a2,
  70: #9cadbd,
  80: #b7c9d9,
  87: #cadced,
  90: #d3e5f5,
  92: #d8eafb,
  94: #e0f0ff,
  95: #e5f2ff,
  96: #ebf5ff,
  98: #f6faff,
  99: #fcfcff,
  100: #ffffff
);

$aa-ternary-m3-tone: (
  0: #000000,
  4: #120826,
  6: #170d2c,
  10: #201635,
  12: #241a39,
  17: #2e2544,
  20: #352b4b,
  22: #392f4f,
  24: #3e3454,
  30: #4c4163,
  40: #64597b,
  50: #7d7195,
  60: #978bb0,
  70: #b2a5cc,
  80: #cec0e8,
  87: #e2d3fc,
  90: #eaddff,
  92: #efe3ff,
  94: #f4eaff,
  95: #f6edff,
  96: #f9f1ff,
  98: #fef7ff,
  99: #fffbff,
  100: #ffffff
);

$aa-neutral-m3-tone: (
  0: #000000,
  4: #0c0e11,
  6: #111416,
  10: #191c1e,
  12: #1e2022,
  17: #282a2c,
  20: #2e3133,
  22: #333537,
  24: #37393c,
  30: #454749,
  40: #5d5e61,
  50: #75777a,
  60: #8f9193,
  70: #aaabae,
  80: #c5c6c9,
  87: #d9dadd,
  90: #e2e2e5,
  92: #e7e8eb,
  94: #edeef0,
  95: #f0f0f3,
  96: #f3f3f6,
  98: #f9f9fc,
  99: #fcfcff,
  100: #ffffff
);

$aa-neutral-variant-m3-tone: (
  0: #000000,
  4: #090f14,
  6: #0e1419,
  10: #161c21,
  12: #1a2025,
  17: #242b30,
  20: #2b3137,
  22: #2f353b,
  24: #343a3f,
  30: #41474d,
  40: #595f65,
  50: #71787e,
  60: #8b9198,
  70: #a6acb3,
  80: #c1c7ce,
  87: #d5dbe2,
  90: #dde3ea,
  92: #e3e9f0,
  94: #e9eef6,
  95: #ecf1f8,
  96: #eef4fb,
  98: #f6faff,
  99: #fcfcff,
  100: #ffffff
);

$aa-error-m3-tone: (
  0: #000000,
  4: #280001,
  6: #310001,
  10: #410002,
  12: #490002,
  17: #5c0004,
  20: #690005,
  22: #710005,
  24: #790006,
  30: #93000a,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  87: #ffcfc9,
  90: #ffdad6,
  92: #ffe2de,
  94: #ffe9e6,
  95: #ffedea,
  96: #fff0ee,
  98: #fff8f7,
  99: #fffbff,
  100: #ffffff
);
