@use 'sass:map';

$m3-motion: (
  easing: (
    emphasized: (
      default: cubic-bezier(0.2, 0.0, 0, 1.0),
      accelerate: cubic-bezier(0.3, 0.0, 0.8, 0.15),
      decelerate: cubic-bezier(0.05, 0.7, 0.1, 1.0)
    ),
    standard: (
      default: cubic-bezier(0.2, 0.0, 0, 1.0),
      accelerate: cubic-bezier(0.3, 0, 1, 1),
      decelerate: cubic-bezier(0, 0, 0, 1)
    ),
    linear: (
      default: cubic-bezier(0, 0, 1, 1)
    ),
    legacy: (
      default: cubic-bezier(0.4, 0.0, 0.2, 1.0),
      accelerate: cubic-bezier(0.4, 0, 1, 1),
      decelerate: cubic-bezier(0, 0, 0.2, 1)
    )
  ),
  duration: (
    short1: 50ms,
    short2: 100ms,
    short3: 150ms,
    short4: 200ms,
    medium1: 250ms,
    medium2: 300ms,
    medium3: 350ms,
    medium4: 400ms,
    long1: 450ms,
    long2: 500ms,
    long3: 550ms,
    long4: 600ms,
    extra-long1: 700ms,
    extra-long2: 800ms,
    extra-long3: 900ms,
    extra-long4: 1000ms
  )
);

@function get-duration($duration) {
  $m3-motion-duration: map.get($m3-motion, duration);
  @if map.get($m3-motion-duration, $duration) {
    @return map.get($m3-motion-duration, $duration);
  }
  @return map.get($m3-motion-duration, short4);
}

@function get-easing($easing-name, $easing-type) {
  $m3-motion-easing: map.get($m3-motion, easing);
  @if map.get($m3-motion-easing, $easing-name) {
    @if (map.get(map.get($m3-motion-easing, $easing-name), $easing-type)) {
      @return map.get(map.get($m3-motion-easing, $easing-name), $easing-type);
    }
  }
  @return map.get(map.get($m3-motion-easing, linear), default);
}
