@use 'sass:map';
@use '@angular/material' as mat;
@use "../../libs/core" as m3;

@include mat.core();

$dark-primary-text: #191c1e;
$light-primary-text: #e2e2e5;

$aa-blue-palette: (
  50: #fcfcff,
  100: #ebf5ff,
  200: #e0f0ff,
  300: #c9e6ff,
  400: #8aceff,
  500: #3699d2,
  600: #006491,
  700: #003d5a,
  800: #00344e,
  900: #002235,
  A100: #007fb6,
  A200: #004c6e,
  A400: #003854,
  A700: #002d44,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($aa-blue-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

$light-m3-theme: m3.get-design-tokens(m3.$aa-m3-tonal-palette, 'light');
$dark-m3-theme: m3.get-design-tokens(m3.$aa-m3-tonal-palette, 'dark');

// Apply the dark theme by default (when .dark-theme class is present or no specific theme class)
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include m3.sidenav-color($dark-m3-theme);
  @include m3.toolbar-color($dark-m3-theme);
  @include m3.card-color($dark-m3-theme);
  @include m3.scrollbar-color($dark-m3-theme);
}

// Apply the light theme when .light-theme class is present
.light-theme {
  @include mat.all-component-colors($light-theme);
  @include m3.sidenav-color($light-m3-theme);
  @include m3.toolbar-color($light-m3-theme);
  @include m3.card-color($light-m3-theme);
  @include m3.scrollbar-color($light-m3-theme);
}

.dark-theme,
.light-theme{
  @include m3.sidenav-theme();
  @include m3.toolbar-theme();
  @include m3.card-theme();
  @include m3.scrollbar-theme();
}

// Default theme (for backwards compatibility)
body:not(.light-theme):not(.dark-theme) {
  //@include mat.all-component-themes($dark-theme);
  @include m3.sidenav-color($dark-m3-theme);

  @media (prefers-color-scheme: light) {
    //@include mat.all-component-themes($light-theme);
    @include m3.sidenav-color($light-m3-theme);
  }
}
